appdirs==1.4.0
colorama==0.3.7
dj-database-url==0.4.2
-e git+https://github.com/django/django.git@80493b087136a151bf4d11ba394f36e047159040#egg=Django
django-filter==1.0.1
djangorestframework==3.5.4
httpie==0.9.9
Markdown==2.6.8
packaging==16.8
psycopg2==2.6.2
Pygments==2.2.0
pyparsing==2.1.10
pytz==2016.10
requests==2.13.0
six==1.10.0
whitenoise==3.3.0
